---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #dce6f0;
    background-image: linear-gradient(120deg, #155799, #dce6f0);
}
@media screen and (min-width: 64em)
.page-header {
    padding: 2rem 2rem;
}
