--- 
--- 

@import "{{ site.theme }}";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main-content {
  background: lightblue; 
  flex-grow: 1;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #dce6f0;
  background-image: linear-gradient(120deg, #155799, #dce6f0);
}
@media screen and (min-width: 64em) {
  .page-header {
    padding: 2rem 2rem;
  }
}